*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/assets/images/images.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-repeat:round; */
}

body{
    padding: 0 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: none;
}

.header__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    gap:10px;
    background: none;
}
.header__figure {
    border-radius: 20%;
    width: 20%; 
    background: none;
    justify-content:right;
    margin-left: -15%;
}
img {
    background-color: transparent;
    mix-blend-mode:screen;
    filter: brightness(-6.5);
    filter: contrast(1.2);
    border-style:hidden;
    text-align: left;
    opacity: 90%;
    width: 100%; 
    /* revisar % para ver el fondo */
}

.header__figure img:hover {
    transform: scale(1.1);
    z-index: 100;
    cursor:progress;
}
#nav__input{
    width: 30%; 
    box-shadow: 20%;
    border: 2px inset rgb(219, 208, 231);
    border-radius: 10px;
    font-size: 16px;
    background:none;
    padding: 0.12%;
}   
#nav__button__up{
    width: 6%; 
    border-radius: 10px;
    background:none;
    border: 3px outset rgb(59, 2, 120);
    align-items: center;
    text-align: center;
    font-weight:bolder;
    font-size: 16px;
    text-decoration: none;
    color: rgb(59, 47, 109);
    padding: 0.2%;
}  

@media screen and (max-width: 600px) {
    .header__nav{
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: left;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
       }
    .header__figure {
        border-radius: 20%;
        width: 40%; 
        background: none;
        justify-content:left;
        /* margin-left: -38%; */
    }
    #nav__input{
        width: 30%; 
        box-shadow: 20%;
        border: 1px inset rgb(219, 208, 231);
        border-radius: 7px;
        font-size: 15px;
        margin-right: 60%;
        background:none;
        text-align: left;
    }
    #nav__button__up{
        width: 30%; 
        border-radius: 10px;
        background:none;
        border: 2px outset rgb(59, 2, 120);
        font-weight: bolder;
        font-size: 15px;
        color: antiquewhite;
        margin-right: 60%
    } 
}